footer{
    background: linear-gradient(180deg, rgba(42,16,17,0.85) 0%, rgba(42,16,17,0.95) 35%, rgba(42,16,17,1) 75%);
    width: 100%;
    height: auto;
    padding: 10px 50px;
    border: 1px solid yellowgreen;
}