@import "mixins.scss";
section{
    width: 100%;
    height: 856px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
} 
.greetings{
    background: linear-gradient(180deg, rgba(237,203,129,0.85) 0%, rgba(215,134,71,0.85) 70%);
    position: relative;
    div{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 100px;
        top: 30%;
        width: 100%;
        height: auto;
        max-width: 500px;
    }
    h1{
        @include headingMax;
    }
    h2{
        @include headingMin;
        @include flex-Rleft;
        font-size: 30px;
        align-items: flex-end;
        position: relative;
        margin: 10px 10px 10px 40px;
        width: auto;
        b,p{
            width: auto;
            height: auto;
            display: flex;
        }
        b{
            font-size: 45px;
            padding: 2px 0px 0px 8px;
        }
        p{ 
            position: absolute;
            bottom: -40px;
            left: 0;
            font-size: 22px;
            font-style: italic;
            align-items: center;
            justify-content: center;
        }
        p::after, p::before{
            content: '>';
            display: block;
            font-size: 40px;
        }
        p::before{ 
            transform: rotate(180deg);
        }

    }
}
.aboutme{
    background: linear-gradient(180deg, rgba(215,134,71,0.85) 0%, rgba(215,134,71,0.85) 41%, rgba(44,64,39,0.8519782913165266) 67%);    
    position: relative;
    @include flex-Rleft; 
    align-items: flex-start;
    .aboutme-txt{
        width: 500px;
        height: auto;
        @include flex-Ccenter; 

        h3{
            @include headingMin;
            margin: 100px  0 10px 0;
        }
        p{
            @include textBasis;
            text-align: justify
        }
    }
    .aboutme-images{ 
        @include flex-Ccenter;
        width: 300px;
        position: relative;
        right: 5%;
        top: -60%;
        .images{ 
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
            &.img1{
                top: 0;
                left: 100px;
                z-index: 2;
            }
            &.img2{
                top: 200px;
                left: -80px;
                z-index: 1;
            }
            &.img3{
                top: 280px;
                left: 185px;
                z-index: 0;
            }
        }
        img{
            width: 450px;
            height: 450px;
            border-radius: 100%;
        }
    }
}
.projects{
    background: linear-gradient(180deg, rgba(44,64,39,0.85) 0%, rgba(44,64,39,0.85) 70%);
    position: relative;
}
.socials{
    background: linear-gradient(180deg, rgba(44,64,39,0.85) 0%, rgba(42,16,17,0.85) 85%);
    position: relative;
}